

{% block content %}
    <h2>Usuarios</h2>
    <ul>
        {% for usuario in object_list %}
        <li><a href={% url 'user-detail' usuario.id %}>{{ usuario.nameUsr }}</a>
            <!--<li>{{ mascota.namePet }}</li> -->
            <a href="{% url 'user-update' usuario.id %}"> <button>Modificar</button></a>&nbsp;&nbsp;
            <a href="{% url 'user-delete' usuario.id %}"> <button>Eliminar</button></a>
        </li>
        {% endfor %}
        <p><a href="{% url 'user-add' %}"> <button>Añadir Usuario</button></a></p>
    </ul>
{% endblock %}